.dashboard {
    --dark-1: #2a2a2b;
    --dark-2: #16171B;
    --dark-3: #28292D;

    --primary: #06B075;
    --primary-0: #38c091;
    --primary-1: #51c89e;
    --primary-a: rgba(6, 176, 117, .12);

    --chart-color-0: var(--primary-0);
    --chart-color-1: #BA2B5D;
    --chart-color-2: #91EDCD;
    --chart-color-3: #F2558C;
    --chart-color-4: #00cce7;
    --chart-color-5: #F1E0C5;

    background: var(--dark-2);
    min-height: 100vh;
    padding: 0 max(50px, 10rem);
}

.main {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem 2rem;
    grid-auto-flow: row;
    grid-template-areas:
        "content content numbers"
        "content content chart-aside-1"
        "chart-1 chart-2 chart-aside-2";
    grid-area: content;
}

.numbers { 
    grid-area: numbers;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: 1rem 0;
}

.chart-aside-1 { grid-area: chart-aside-1; }

.chart-aside-2 { grid-area: chart-aside-2; }

.chart-1 { grid-area: chart-1; }

.chart-2 { grid-area: chart-2; }


.content {
    grid-area: content;
    margin-top: 1rem;
}

footer { grid-area: footer; }

main.dashboard > footer {
    grid-area: footer;
    background-color: var(--dark-2);
}

@media screen and (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1.7fr 0.3fr;
        gap: 0;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "main"
            "footer";        
        padding: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    nav.buttons {
        position: unset !important;
        flex-direction: row !important;
    }

    .card, .numbers, .content {
        width: 90vw;
    }

    .transparent {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .dashboard {
        grid-template-columns: 2.1fr 1fr;
        grid-template-rows: 0.3fr 1.7fr 0.3fr;
        gap: 2vh 10vw;
        grid-auto-flow: row;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }

    .main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 2vh 10vw;
        grid-auto-flow: row;
        grid-template-areas:
            "numbers chart-aside-1"
            "content content"
            "chart-1 chart-2"
            "chart-aside-2 chart-aside-2";
    }
}

.card h2 {
    font-weight: 100;
}

.numbers > .card h2 {
    font-weight: 600;
}

.card {
    border-radius: 0.8rem;
    background-color: var(--dark-1);
    box-shadow: 5px 5px 5px #0000001a;

    padding: 20px;
}

.transparent {
    background-color: transparent !important;
    box-shadow: none;
    padding: 0;
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.numbers > .card {
    display: flex;
	align-items: center;
	justify-content: space-between;

	flex-basis: 250px;
	flex-grow: 1;
	padding: 20px;
    
	flex: 0 0 100px;
    width: 100%;
}

.numbers > .card > .icon {
    width: 2rem;
    height: auto;

    margin-left: 2rem;
}

.chart {
    padding: 1rem;
}

.card > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1.5rem;
}

.card > header h2 {
    font-size: clamp(1rem, 10px + 1.5vw, 2rem);
    margin-left: 10px;
}

table thead th {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    padding-bottom: 1rem;
    color: #ddd;
}

table {
    border-collapse: collapse;
}

table thead th {
    text-align: center;
}

table tbody tr {
    height: 3rem;
}

table tbody tr td {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: var(--text-gray-3);
    text-align: center;
}

table tbody tr td:first-child {
    border-start-start-radius: 0.5rem;
    border-end-start-radius: 0.5rem;
}

table tbody tr td:last-child {
    border-end-end-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
}

table tbody tr:nth-child(odd) {
    background-color: var(--dark-3);
}

a {
    color: var(--primary-1);
    text-decoration: none;
}

a.btn, [type="submit"] {
    color: white !important;
    background-color: var(--primary) !important;

    border: none !important;
    transition: all .2s ease-in-out !important;

    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400 !important;
    text-transform: none !important;
}

nav.vertical > a:hover {
    background-color: var(--primary) !important;
    box-shadow: 0 10px 20px var(--primary-a), 0 4px 8px var(--primary-a);
    color: white;
}

a.btn:hover, [type="submit"]:hover {
    box-shadow: 0 10px 20px var(--primary-a), 0 4px 8px var(--primary-a);
    transform: none;
}


a.see-more {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.role {
  width: 10px;
  height: 10px;
  margin: auto;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: goldenrod;
}

.admin {
  background-color: #c0392b;
}

.organizer {
    background-color: #16a085;
}

.juror {
  background-color: #9b59b6;
}

.donor {
  background-color: #D980FA;
}

.ongoing {
  background-color: #27ae60;
}

.pending {
  background-color: #2980b9;
}

.finished {
  background-color: #8e44ad;
}

.glow {
    background-color: var(--primary);
    box-shadow: 0 10px 20px var(--primary-a), 0 4px 8px var(--primary-a);
}

input:not([type="radio"], [type="submit"]), textarea {
    background-color: var(--dark-1) !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input:focus, textarea:focus {
    outline: var(--primary-0) solid 2px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"], input[type="search"], input[type="tel"], input[type="url"], input[type="week"], textarea {
    color: #fff;
}

input:disabled {
    color: gray;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 3px solid var(--primary-1);
    border-radius: 50%;

    transform: scale(.5);
    transition: all .2s ease-in-out;

    margin: 0;
}

input[type="radio"]:checked {
    background-color: var(--primary-1);
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.avatar-container {
  height: 12rem;
  width: 12rem;

  margin-left: auto!important;
  margin-right: auto!important;
}

.avatar {
  max-width: 100%;
  padding: 1rem !important;

  border-radius: 50%;
  border: 1px solid rgba(209,213,219,.3)!important;
}