.events {
  margin: 3rem;

  display: grid; 
  grid-template-columns: 1.6fr 1.2fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 1em 3em; 
  grid-template-areas: 
    "overview user"
    "misc user"; 
}

.overview { 
  grid-area: overview;
  padding: 0 !important;
}

.user { grid-area: user; }
.misc { grid-area: misc; }


.overview > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  border-radius: 12px 12px 0 0;
  background: url(../../vendor/svg/placeholder-bg.svg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 767.98px) {
    .events {
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr; 
      gap: 1em; 
      grid-template-areas: 
        "overview"
        "user"
        "misc";
    }
}

h2 { /* Title */
  margin-top: .5rem;
  font-family: 'BigNoodleTitling Oblique';
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
}

h3 { /* Subtitle */
  font-size: clamp(0.5rem, -0.875rem + 2vw, 2rem);
  font-weight: 400;
  margin-top: -.25rem;
  margin-bottom: 1rem;
}

.avatar {
  width: clamp(1.5rem, 2rem + 10vw, 20rem);
  height: auto;
  border-radius: 50%;
  background: url(../../vendor/svg/placeholder-bg.svg) no-repeat center center;
  background-size: cover;
}

.body {
  margin: 0 2rem;
  text-align: justify;
}