.events {
  margin: 1rem 2rem;

  display: grid; 
  grid-template-columns: 2fr 1.2fr; 
  grid-template-rows: 1fr; 
  gap: 0 9rem; 
  grid-template-areas: 
    "overview aside"
    ". aside"; 
}

.overview { 
  padding: 0 !important;
  grid-area: 1 / 1 / 2 / 2;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}

.overview > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  border-radius: 12px 12px 0 0;
  background: url(../../vendor/svg/placeholder-bg.svg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 767.98px) {
    .events {
      gap: .5rem;
      grid-template-columns: 1fr;
      grid-template-areas:
        "overview overview"
        "aside aside";
    }
}

h2 { /* Title */
  margin-top: .5rem;
  font-family: 'BigNoodleTitling Oblique';
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
}

h2.sm { font-size: clamp(1rem, -0.875rem + 6.667vw, 2.5rem); }

h3 { /* Subtitle */
  font-size: clamp(1rem, -0.875rem + 2vw, 2.5rem);
  font-weight: bold;
}

.desc {
  font-weight: normal;
  text-align: left;
  font-style: italic;
}

.meta {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  letter-spacing: -.025em;
  text-transform: uppercase;
}

.date {
  margin: auto 0;
}

.avatar-container {
  height: 12rem;
  width: 12rem;

  margin-left: auto!important;
  margin-right: auto!important;
}

.avatar {
  max-width: 100%;
  padding: 1rem !important;

  border-radius: 50%;
  border: 1px solid rgba(209,213,219,.3)!important;
}

.description, .unlockable-content-container {
    margin: 0 2rem;
}

.description {
  text-align: justify;
}

.overview > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem 2rem;
  
  letter-spacing: .025em;
  font-weight: 700;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.overview hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: #e6e6e63b;
  margin: 1rem 0;
}

.points {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  margin: auto 0;
}

.points > svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .5rem;
}

.unlockable-content-container {
  display: flex;
  flex-wrap: wrap;
}

.unlockable-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(50% - 1rem);
  margin: .5rem;
}

@media screen and (max-width: 767.98px) {
  .unlockable-content {
    width: calc(100% - 1rem);
  }
}

.unlockable-content > svg {
  height: 3.5vmax;
  width: 3.5vmax;

  margin: 1rem 0;
}

#donationSorting {
  color: white;
  text-decoration: none;
}

table svg {
  height: 1.5rem;
  width: 1.5rem;

  vertical-align: middle;
}

table {
  margin: 1rem 2rem;
  width: 100%;
  
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

table.fixed {
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-weight: bolder;
  font-size: 1.05em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table thead {
  border-bottom: 2px solid #e6e6e63b;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}