.events {
  margin: 1.5rem 12rem;

  display: grid; 
  grid-template-columns: 2fr 1.2fr; 
  grid-template-rows: 1fr; 
  gap: 1em 3em; 
  grid-template-areas: 
    "overview aside"
    ". aside"; 
}

.overview { 
  padding: 0 !important;
  grid-area: 1 / 1 / 2 / 2;
}

aside {
  grid-area: aside;
}

.user {
  height: fit-content;
  margin-bottom: 1rem;
}

.overview > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  border-radius: 12px 12px 0 0;
  background: url(../../vendor/svg/placeholder-bg.svg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 767.98px) {
    .events {
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr; 
      gap: 1em; 
      grid-template-areas: 
        "overview"
        "user"
        "misc";
    }
}

h2 { /* Title */
  margin-top: .5rem;
  font-family: 'BigNoodleTitling Oblique';
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
}

h2.sm { font-size: clamp(1rem, -0.875rem + 6.667vw, 2.5rem); }

h3 { /* Subtitle */
  font-size: clamp(0.5rem, -0.875rem + 2vw, 2rem);
  font-weight: 400;
  margin-top: -.25rem;
  margin-bottom: 1rem;
}

.meta {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  letter-spacing: -.025em;
  text-transform: uppercase;
}

.date {
  margin: auto 0;
}

.avatar-container {
  height: 12rem;
  width: 12rem;

  margin-left: auto!important;
  margin-right: auto!important;
}

.avatar {
  max-width: 100%;
  padding: 1rem !important;

  border-radius: 50%;
  border: 1px solid rgba(209,213,219,.3)!important;
}

.description, .unlockable-content-container {
    margin: 0 2rem;
}

.description {
  text-align: justify;
}

.overview > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem 2rem;
  
  letter-spacing: .025em;
  font-weight: 700;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.overview hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: #e6e6e63b;
  margin: 1rem 0;
}

.points {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  margin: auto 0;
}

.points > svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .5rem;
}

.unlockable-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50%;
  grid-auto-columns: 50%;
  grid-gap: 10px;
}

.unlockable-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 10vmax;
  width: 100%;
}

.unlockable-content > h3, .unlockable-content > p {
  margin: 0 !important;
}

.unlockable-content > svg {
  height: 3.5vmax;
  width: 3.5vmax;

  margin: 1rem 0;
}